<footer>

  <div class="footer-contents">
    <div class="footer-contents-container">
    </div>

    <div class="footer-contents-container">
      <ul>
        <li>企業情報</li>
        <li>Flaaniについて</li>
        <li>お問い合わせ</li>
        <% if  florist_signed_in?%>
        <li> <%= link_to "ログアウト", destroy_florist_session_path, method: :delete,class: 'link-font-color' %></li>
        <li><i class="fas fa-user"></i><%= link_to "#{current_florist.shop_name}としてログインしています",   florists_show_path(current_florist[:id]), method: :get, class: "link-font-color" %></li>
        <% else %>
        <li> <%= link_to "加盟店としてログインする", new_florist_session_path, method: :get,class: '' %></li>
        <li> <%= link_to "加盟店として登録する", new_florist_session_path, method: :get,class: '' %></li>
        <% end %>
      </ul>    
    </div>

    <div class="footer-contents-container">
    </div>
  </div>
  <div class="copyright-parts">
  <p class="copyright">
    Copyright Flaani 2020.
  </p>
  </div>
</footer>