// Place all the styles related to the dear_persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 上部リンク部分の括り
.person-links {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  .link-box {
    width: 300px;
    height: 100px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1); ;
    margin: 100px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  } a {
    color : gray;
    font-weight: bold;
  }
}

.person-contents {
  height: 1000px;
}

li{
  display: flex;
  justify-content: center;
}
.person-box {
  margin: 16px 32px;
  border:  1px solid lightgray;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.1); ;
  border-radius: 8px;
}
.person-list-parameters {
  height: 32px;
  padding: 16px;
}
img{
  border-radius: 8px;
}

// show部分スタイル
.show-contents {
  display: flex;
  height: 200px;
  margin: 64px 64px;
  padding-left: 140px;
}

.show-image-box {
  border-radius: 4px;
  margin-right: 40px;
}

.show-parameters-box {
  width: 300px;
}

.parameter-box {
  height: 64px;
  width: 240px;
  margin: 0 0 16px 0;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.1); ;
  
}

.show-parameter {
  width: 300px;
  height: 40px;
  padding: 4px 32px;
}

.show-edit-box {
  margin: 32px 64px;
}

.edit-box {
  width: 300px;
  height: 60px;
  background-color: #fff;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.1); ;
  border-radius: 8px;
  border: solid 3px lightpink;
  text-align: center;
  margin: 032px auto;
  line-height: 60px;

}

.edit-box a {
  color: gray;
  font-size: 24px;
  font-weight: bold;
}

// 新規登録
.dear-person-sizebox {
  width: 10px;
}

.input-birth-wrap {
  display: flex;
  justify-content: center;
}

.text{
  font-size: 16px;
}

.dear-person-new-height {
  height: 300px;
}
.plans-field-new {
  padding: 36px 0 480px;
  background-color: #DCDCDC;
  width: 700px;
  height: 1060px;
  text-align: center;
  margin: 64px auto;
}