// Place all the styles related to the flaanis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// デフォルトフォントカラー
$main-color : #333;

// メインの白系フォントカラー
$wight-color : #fff;

// 入力部品共通部分
.input-default {
  width: 300px;
  height: 40px;
}

// linkタグのフォントをデフォルトに変更
.link-font-color {
  color: #333;
}

// 基礎的なボタン
.btn {
  width: 80px;
  height: 32px;
  padding: 16px 8px;
  background-color: #FF3333;
  border-radius: 4px;
  color: $wight-color;
}

// フォームボタンの基礎設定
.form-btn {
  width: 80px;
  height: 32px;
}

body {
  font-family:  'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif,'Roboto', sans-serif;
  color: $main-color;
  background-color: $wight-color;
}

// aタグの下線修正
a {
  text-decoration: none;
}

// トップ部分の表示
.top-contents {
  background-image: url(asset_path('top-image.jpg'));
  background-position: center;
  background-color: bisque;
  background-size: cover;

  height: 980px;
  img {
    width: 1680px;
    height: 980px;
  }
  .top-contents-container {
    position: absolute;
    top: 480px;
    left: 160px;
    color :#333;
  }
  h3 {
    top: 300px;
    left: 100px;
    font-size: 48px;
    font-weight: bolder;
  }
  p {
    font-size: 24px;
    font-weight: bold;
  }
  .start-btn {
    background-color: honeydew;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 8px;
    color: rgb(80,80,80);
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
    line-height: 48px;
  }
}

.start-btn-box :hover {
  background-color: #ff6666;
  color: #e3e3e3;
  transition: 0.7s;
  box-shadow: 18px 8px 8px rgba(80,80,80,0.4);
}

//トップミドル部分の表示
.top-contents-images {
  display: flex;
  justify-content: center;
  align-items: center;
  .top-content-container {
    margin: 32px 12px;
    border-radius: 8px;
    width: 380px;
    height: 432px;
    background-color: #FFFF;
    border:  1px solid lightgray;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    img {
      width: 380px;
      height: 280px;
      border-radius: 4px;
    }
    .content-text-box {
      padding: 8px 16px;
    }
    h5 {
      font-size: large;
      font-weight: bold;
    }
  }
}

// ミドルコンテンツ部分
.middle-contents {
  height: 1200px;
  .middle-contents-inner{
    margin: 0 96px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .left-content{
    margin-top: 16px;
    padding: 0 16px;
    width: 480px;
    height: 720px;
    background-color: #e3e3e3;
    color: #ff6666;
    h3 {
      font-size: 3rem;
      margin: 64px 0 32px;
    }
    p {
      font-size: 1.5rem;
      line-height: 40px;
    }
    .btn-left{
      margin-top: 80px;
    }
  }
  .right-content{
      margin-top: 200px;
      padding: 0 16px;
      width: 480px;
      height: 720px;
      background-color: #FFCCCC;
      color: #fff;
      h3 {
        font-size: 3rem;
        margin: 64px 0 32px;
      }
      p {
        font-size: 1.5rem;
        line-height: 40px;
      }
        .btn-right {
          margin-top: 80px;
        }
    }
  }
  
  
  
  // スタイルコンテンツ部分
  .styles-contents {
    height: 1080px;
    .style-contents-inner {
      margin: 64px 96px 0 ;
      height: 880px;
    }
    .style-title {
      height: 90px;
      font-weight: bold;
    }
    h3{
      text-align: center;
      font-size: 2em;
    }
    .style-Description {
      text-align: center;
      font-size: 24px;
    }
    .style-container{
      display: flex;
    }
    .bright-style{
      width: 22vw;
      height: 73vh;
      background-image: image-url('style-bright.png');
      background-position: right;
      background-color: bisque;
      background-size: cover;
      margin: 8vh 8px;
      border-radius: 4px;
      
    }
    .cute-style{
      width: 22vw;
      height: 72vh;
      background-image: image-url('style-cute.png');
      background-position: center;
      background-color: bisque;
      background-size: cover;
      margin: 16vh 8px;
      border-radius: 4px;
    }
    .cool-style{
      width: 22vw;
      height: 72vh;
      background-image: image-url('style-cool.png');
      background-position: right;
      background-color: bisque;
      background-size: cover;
      margin: 24vh 8px;
      border-radius: 4px;
    }
    .natural-style{
      width: 22vw;
      height: 72vh;
      background-image: image-url('style-natural.png');
      background-position: left;
      background-size: cover;
      background-color: lightgreen;
      margin: 32vh 8px;
      border-radius: 8px;
    }
  }
  
  // バックグラウンド部分
  .background-space1 {
    height: 400px;
    background-image: image-url("background-image.jpeg");
    background-position: center;
    background-color: bisque;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
  }
  // バックグラウンド部分
  .background-space2 {
    height: 400px;
    background-image: image-url("background-image2.png");
    background-position: center;
    background-color: bisque;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
    margin-bottom: 32px;
  }

  // florist紹介部分
  .florist-contents {
    height: 100vh;
    .top-contents-title{
      text-align: center;
      height: 90px;
      font-size: 32px;
      font-weight: bold;
    }
    p {
      text-align: center;
      font-size: 24px;
    }
    .florist-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 80px 0;
      margin: 0 16px;
    }
    .one-florist {
      width: 240px;
      height: 400px;
      margin: 16px;
    }
    .content-text-box2 {
      color: rgb(80,80,80);
    }
  }//end-florist

  .florist-image :hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
    opacity: 0.95;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.2);
  }
  // バックグラウンド部分
  .background-space3 {
    height: 400px;
    background-image: image-url("background-imag3.png");
    background-position: center;
    background-color: bisque;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
    margin: 88px 0 64px;
  }


  // flower紹介部分
  .flower-area {
    height: 1000px;
    margin: 240px 0;
    .top-contents-title {
      text-align: center;
      height: 90px;
      font-size: 32px;
      font-weight: bold;
    }
    p {
      text-align: center;
      font-size: 24px;
      margin-bottom: 32px;
      color: rgb(80,80,80);
    }
    }
    .top-contents-images2 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      .top-content-container2 {
        margin: 16px 12px;
        border-radius: 8px;
        width: 300px;
        height: 280px;
        background-color: #FFFF;
        img {
          border-radius: 4px;
          transition-duration: 0.5s;
        }
        .content-text-box2 {
          padding: 8px 16px;
        }
        h5 {
          font-size: 16px;
          font-weight: bold;
          color: rgb(80,80,80);
        }
        p {
          font-size: 12px;
        }
      }
    }
  
    
    .top-content-image-box :hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
    opacity: 0.95;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.2);
  }


// UserログインCSS
.login-field {
  height: 100vh;
  width: 100vw;
  padding: 172px 0;
  background-image: image-url('login-img.jpeg');
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 1000px;
  text-align: center;
  margin: 0 auto;
  p {
    font-size: 16px;
  }
  .field {
    margin-bottom: 64px;
  }
}
