// Place all the styles related to the Florists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// showページのstyle
.order-parameter {
  margin: 0 32px;
}

.order-parameter-box{
  width: 100%;
  height: 48px;
  background-color: antiquewhite;
  margin: 8px 0;
}

.order-parameter-title {
  height: 18px;
  font-size: 10px;
  background-color: bisque;
}

.order-parameter-value {
  line-height: 30px;
  font-size: 11px;
}