// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plans-field {
  height: 1000px;
  width: 100vw;
  padding: 36px 0 240px;
  background-color: #DCDCDC;
  width: 600px;
  height: 1060px;
  text-align: center;
  margin: 64px auto;
  p {
    font-size: 24px;
  }
}

.one-input-parts {
  margin-bottom: 16px;
}

.info-input-haedline {
  font-size: 20PX;
  margin: 49px 0 18px 0;
  font-weight: bold;
}

.field {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.available-card{
  margin: 4px 0 16px;
}

.card-logo {
  width: 32px;
  height: 24px;
}

.indispensable {
  background-color: #ea352d;
  width: 30px;
  height: 18px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

.input-default {
  border-radius: 6px;
  border: solid 1px gray;
  height: 32px;
}

// 有効期限
.input-expiration-date-wrap {
  display: flex;
  justify-content: center;
  margin: 0 0 24px;
  p {
    font-size: 16px;
  }
}
.input-expiration-date {
  width: 64px;
  height: 29px;
}

.form-group {
  margin-bottom: 16px;
}

.btn {
  width: 300px;
  height: 40px;
  margin: 16px auto;
  line-height: 1px;
  border: none;
}